<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css"
    integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>

                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Top Genre</h4>
                <ul>
                    <li><a href="#">Academic</a></li>
                    <li><a href="#">Fiction</a></li>
                    <li><a href="#">Non-Fiction</a></li>
                    <li><a href="#">Comic & Graphic Novels</a></li>
                    <li><a href="#">Self Development</a></li>
                    <li><a href="#">Magzines</a></li>
                    <li><a href="#">Mystery & Thriller</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <ul class="social-links">
                    <li><a href="#"><img src="../../../../assets/icons/facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../../assets/icons/instagram.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../../assets/icons/pinterest.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../../assets/icons/twitter.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>