<div class="body">
  <div class="slide-container swiper">
    <div class="slide-content">
      <div class="card-wrapper swiper-wrapper">
        <div class="row mt-5" >
          @for (user of AllUser; track user) {
            <div class="col mt-3">
              <div class="card swiper-slide">
                <div class="image-content">
                  <span class="overlay"></span>
                  <div class="card-image">
                    <img src={{user.profilePhoto}} alt="" class="card-img" />
                  </div>
                </div>
                <div class="card-content my-3">
                  <h2 class="name">{{user.firstName}}  {{user.lastName}}</h2>
                  <p>Email Id : {{user.email}}</p>
                  <p>Phone no. : {{user.phone}}</p>
                  <p>Gender : {{user.gender}}</p>
                  <!-- <button class="button">View More</button> -->
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
