<section class="about">
  <div class="main">
    <img
      src="../../../../../assets/jaredd-craig-HH4WBGNyltc-unsplash.jpg"
      alt="About Us Image"
    />
    <div class="about-text">
      <h1>About Us</h1>
      <h5>Developer<span> & Designer</span></h5>
      <p>
        Books from the best of Indian and International publishers such as
        Penguin Random House India, HarperCollins Publishers India, Rupa
        Publications India, Cambridge University Press, Macmillan Publishers,
        Pearson, Arihant Publication India, DC Comics, Jaico Publishing House,
        Diamond Books & Manjul Publishing House among others...We have something
        for every kind of reader – bibliophiles, casual readers, students and
        those just looking to browse. Books for all ages Books across a wide
        range of genres: Academics, Fiction, Non-Fiction, Teen & Young Adult,
        Children, Comics, and more. Books from the top publishers from within
        India and across the world
      </p>
      <button type="button">Let's Talk</button>
    </div>
  </div>
</section>
