<div class="header">
    <div class="bgBlack">
      <section class="h-txt">
        <span>Enjoy Reading</span>
        <h1>Shop Wide Range Of Collections</h1>
        <br />
        <a routerLink="register">Shop Now</a>
      </section>
    </div>
  </div>
  <!--  carousel -->
  <div
    id="carouselExampleCaptions"
    class="carousel slide content-3"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <!-- content here  -->
          <section class="content-3-sub1">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <h4>Special Offers</h4>
                <h3>30% Discount on books Learn Language</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  labore consequuntur quidem eligendi similique illo omnis quis,
                  ipsam ex nobis.
                </p>
                <a routerLink="register" class="shop-now">Shop Now</a>
              </div>
            </div>
          </section>
      </div>
      <div class="carousel-item">
        <!-- content here  -->
        <section class="content-3-sub2">
          <div class="row">
            <div class="col p-5">
              <h4>Offer For Today</h4>
              <h3>Upto 70% Dicount On Any Purchase</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                labore consequuntur quidem eligendi similique illo omnis quis,
                ipsam ex nobis.
              </p>
              <a routerLink="register" class="shop-now">Shop Now</a>
            </div>
            <div class="col"></div>
          </div>
        </section>
      </div>
      <div class="carousel-item">
        <!-- content here  -->
        <section class="content-3-sub3">
          <div class="row">
            <div class="col fantasy-book">
              
            </div>
            <div class="col p-5">
              <h4>Diwali Special Offer!!</h4>
              <h3>50% Discount on Fantasy Books</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                labore consequuntur quidem eligendi similique illo omnis quis,
                ipsam ex nobis.
              </p>
              <a routerLink="register" class="shop-now">Shop Now</a>
            </div>
          </div>
        </section>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <section class="content-2 text-start">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-3 image-container px-3 mt-2">
            <img src="../../../../assets/icons/aero.png" alt="" />
          </div>
          <div class="col">
            <h4>Free Shipping</h4>
            <p>Order Over Rs.1000</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3 image-container mt-1">
            <img src="../../../../assets/icons/unlock.png" alt="" />
          </div>
          <div class="col">
            <h4>Secure Payment</h4>
            <p>100% Secure Payment</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3 image-container">
            <img src="../../../../assets/icons/best-price.png" alt="" />
          </div>
          <div class="col">
            <h4>Best Price</h4>
            <p>Guaranteed Price</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="home-content">
    <h1 class="text-center pt-5">Our Products</h1>
    <app-products></app-products>
  </div>
  <section class="content-4">
    <div class="white-bg">
      <div class="row">
        <div class="col text-center">
          <h1>Wonderful Gifts</h1>
          <p>Give Your Family And Frineds A Book</p>
          <a routerLink="register" class="shop-now">Shop Now</a>
        </div>
        <div class="col-8"></div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col">
      <app-latest-news></app-latest-news>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-news-letter></app-news-letter>
    </div>
  </div>
  