*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.contact
{
    margin-top: -100px;
    position: relative;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../../../../assets/contact-us-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.contact .bg .content
{
    margin-top: 100px;
    max-width: 800px;
    text-align: center;
}
.contact .bg .content h2
{
    font-size: 36px;
    font-weight: 500;
    color:indianred;
    margin-bottom: 15px;
}
.contact .bg .content p
{
    
    font-weight: 300;
    color: black;
    font-weight: 600 !important;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo 
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .icon img{
    width: 30px;
    height: 30px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    font-weight: 600 !important;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: indianred;
}
.contactForm
{
    width:40%;
    padding: 40px;
    background:#fff;
}
.bg{
    padding: 50px 100px;
    background-color: rgba(205, 205, 205, 0.562);
    width: 100%;
    height: 150vh;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactForm h2
{
    font-size: 30px;
    color:#333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding:5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none;
}
.contactForm .inputBox span
{
    position: absolute;
    left:0;
    padding:5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~span
.contactForm .inputBox input:valid ~span
.contactForm .inputBox textarea:focus ~span
.contactForm .inputBox textarea:valid ~span


{
    color:#e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: indianred;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width:991px)
{
    .contact
    {
        /* padding: 50px; */
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo
    {
        width:100%;
    }
}












