<section class="contact">
  <div class="bg">
    <div class="content">
      <h2>Contact Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugit
        nulla maiores maxime facere accusamus quos ipsam enim cum vero eligendi
        deserunt placeat repellendus quam esse, tempora, perspiciatis alias! Id.
      </p>
    </div>
    <div class="container">
      <div class="contactInfo">
        <div class="box">
          <div class="icon mt-4">
            <img src="../../../../assets/icons/location.png" alt="" srcset="" />
          </div>
          <div class="text">
            <h3>Address</h3>
            <p>4671 Sugar Camp Road,<br />Owatonna,Minnesota,<br />55060</p>
          </div>
        </div>
        <div class="box">
          <div class="icon">
            <img
              src="../../../../assets/icons/telephone.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="text">
            <h3>Phone</h3>
            <p>507-475-6094</p>
          </div>
        </div>
        <div class="box">
          <div class="icon">
            <img src="../../../../assets/icons/mail.png" alt="" />
          </div>
          <div class="text">
            <h3>Email</h3>
            <p>areebasehrish20&#64;gmail.com</p>
          </div>
        </div>
      </div>
      <div class="contactForm">
        <form>
          <h2>Send Message</h2>
          <div class="inputBox">
            <input
              type="text"
              name=""
              required="required"
              placeholder="Full Name"
            />
            <!-- <span>Full Name</span> -->
          </div>
          <div class="inputBox">
            <input
              type="text"
              name=""
              required="required"
              placeholder="Email"
            />
            <!-- <span>Email</span> -->
          </div>
          <div class="inputBox">
            <textarea
              required="required"
              placeholder="type your Message.."
            ></textarea>
            <!-- <span>Type your Message...</span> -->
          </div>
          <div class="inputBox">
            <input type="submit" name="" value="Send" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
