<div class="wrapper">
  <h4 >Shopping Cart</h4>
  <div class="Project">
    <!-- If the cart has items -->
    @if (cart.length) {
      <div class="shop">
        @for (item of cart; track item) {
          <div class="box">
            <img [src]="item.productDetails?.productImage" alt="Product Image" />
            <div class="content">
              <h3>{{ item.productDetails?.productName }}</h3>
              <h4>Price: ₹{{ item.productDetails?.productPrice }}</h4>
              <p class="unit">
                Quantity: &nbsp;
                <input
                  type="number"
                  [(ngModel)]="item.quantity"
                  (change)="editQuantity(item.quantity, item._id)"
                  class="ps-2"
                  min="1"
                  />
                </p>
                <span class="btn2" (click)="removeItem(item._id)">Remove</span>
              </div>
            </div>
          }
        </div>
      }

      <!-- If the cart is empty -->
      @if (!cart.length) {
        <div class="emptyCart text-center">
          <h3>Cart Is Empty...</h3>
        </div>
      }

      <!-- Right-bar displaying subtotal, tax, and total -->
      @if (cart.length) {
        <div class="right-bar">
          <p>
            <span>Subtotal</span>
            <span>₹{{ subTotal }}</span>
          </p>
          <hr />
          <p>
            <span>Tax 5%</span>
            <span>₹{{ (subTotal * 0.05).toFixed(2) }}</span>
          </p>
          <hr />
          <p>
            <span>Shipping</span>
            <span>₹150</span>
          </p>
          <hr />
          <p>
            <span>Total</span>
            <span>₹{{ (subTotal * 1.05 + 150).toFixed(2) }}</span>
          </p>
          <button class="btn" (click)="checkout()">Checkout</button>
        </div>
      }
    </div>
  </div>
