<div class="containers">
  <div class="content">
    <div class="cards">
      <div class="card">
        <div class="box">
          <h1>
            94
            <img src="../../../../assets/icons/open-book.png" alt="" />
          </h1>
          <h3>Books</h3>
        </div>
        <div class="icon-case"></div>
      </div>
      <div class="card">
        <div class="box">
          <h1>
            53
            <img src="../../../../assets/icons/user (1).png" alt="" />
          </h1>
          <h3>Users</h3>
        </div>
        <div class="icon-case"></div>
      </div>
      <div class="card">
        <div class="box">
          <h1>
            8
            <img src="../../../../assets/icons/categories.png" alt="" />
          </h1>
          <h3>Category</h3>
        </div>
        <div class="icon-case"></div>
      </div>
      <div class="card">
        <div class="box">
          <h1>
            350
            <img src="../../../../assets/icons/shopping-bag.png" alt="" />
          </h1>
          <h3>Orders</h3>
        </div>
        <div class="icon-case"></div>
      </div>
    </div>
    <div class="content-2">
      <div class="recent-payments">
        <div class="title">
          <h2>Books List</h2>
          <a href="#" class="btn" style="margin-left: 470px">View All</a>
        </div>
        <table style="margin: 20px">
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Author</th>
            <th></th>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>St.James College</td>
            <td>$120</td>
            <td>Charlie L</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>St.James College</td>
            <td>$120</td>
            <td>Charlie L</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>St.James College</td>
            <td>$120</td>
            <td>Charlie L</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>St.James College</td>
            <td>$120</td>
            <td>Charlie L</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>St.James College</td>
            <td>$120</td>
            <td>Charlie L</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>St.James College</td>
            <td>$120</td>
            <td>Charlie L</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
        </table>
      </div>
      <div class="new-students">
        <div class="title">
          <h2>Users List</h2>
          <a href="#" class="btn">View All</a>
        </div>
        <table>
          <tr>
            <th>Profile</th>
            <th>Name</th>
            <th></th>
          </tr>
          <tr>
            <td><img src="../../assets/user.jpg" alt="" /></td>
            <td>John Steve Doe</td>
            <td><img src="info.png" alt="" /></td>
          </tr>
          <tr>
            <td><img src="../../assets/user.jpg" alt="" /></td>
            <td>John Steve Doe</td>
            <td><img src="info.png" alt="" /></td>
          </tr>
          <tr>
            <td><img src="../../assets/user.jpg" alt="" /></td>
            <td>John Steve Doe</td>
            <td><img src="info.png" alt="" /></td>
          </tr>
          <tr>
            <td><img src="../../assets/user.jpg" alt="" /></td>
            <td>John Steve Doe</td>
            <td><img src="info.png" alt="" /></td>
          </tr>
          <tr>
            <td><img src="../../assets/user.jpg" alt="" /></td>
            <td>John Steve Doe</td>
            <td><img src="info.png" alt="" /></td>
          </tr>
          <tr>
            <td><img src="../../assets/user.jpg" alt="" /></td>
            <td>John Steve Doe</td>
            <td><img src="info.png" alt="" /></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
