a {
    text-decoration: none;
  }
  li {
    list-style: none;
    /* font-size: 14px; */
  }
  h1,
  h2 {
    color: #444;
  }
  h3 {
    color: #999;
  }
  .brand-name h1 {
    margin: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
  }
  .brand-name {
    border-bottom: 2px solid white;
  }
  .brand-name h1 span {
    color: rgb(129, 17, 129);
  }
  .btn {
    background: #f05426;
    color: white;
    padding: 5px 10px;
    text-align: center;
  }
  .btn.hover {
    color: #f05426;
    background: white;
    padding: 3px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
  }
  .table {
    padding: 10px;
  }
  .recent-payments{
    
    background-color: white;
    box-shadow: 9 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  .side-menu {
    position: fixed;
    background: #f05426;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .side-menu .brand-name {
    /* height: 10vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .side-menu li {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
    margin-block: 20px;
  }
  
  .side-menu li a {
    color: white;
  }
  .side-menu li:hover {
    background: white;
    color: #f05426;
  }
  
  .side-menu ul li:hover a {
    color: #f05426;
  }
  
  .side-menu ul li a img {
    width: 35px;
    height: 35px;
  }
  .container {
    position: absolute;
    right: 0;
    width: 79vw;
    height: 100vh;
  }
  .container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 79.7%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-block: 18px;
  }
  .container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
  }
  .container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: start;
  }
  .container .header .nav .search input {
    border: 1px solid black;
    border: none;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    width: 50%;
  }
  .container .header .nav .search button {
    width: 49px;
    height: 47px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
  }
  .container .header .nav .search button img {
    width: 30px;
    height: 30px;
  }
  .container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .header .nav .user img {
    width: 40px;
    height: 40px;
  }
  .container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .container .header .nav .user .img-case img {
    position: absolute;
    top: 5px;
    left: 145px;
    width: 100%;
  }
  .container .header .nav .user p {
    margin-top: 15px;
    font-weight: 700 !important;
    margin-left: 15px;
  }
  @media screen and (max-width: 1050px) {
    .side-menu li {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 940px) {
    .side-menu li span {
      display: none;
    }
    .side-menu {
      align-items: center;
    }
    .side-menu li img {
      width: 40px;
      height: 40px;
    }
    .side-menu li:hover {
      background: #f05426;
      padding: 8px 38px;
      border: 2px solid white;
    }
  }
  @media screen and (max-width: 536px) {
    brand-name h1 {
      font-size: 16px;
    }
    .container .content .cards {
      justify-content: center;
    }
    .side-menu li img {
      width: 30px;
      height: 30px;
    }
    .container .content .content-2 .new-students table th:nth-child(2),
    .container .content .content-2 .new-students table td:nth-child(2) {
      display: none;
    }
  }
  
  /* admin dasdboard  */
  
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
    /* font-size: 14px; */
  }
  h1,
  h2 {
    color: #444;
  }
  h3 {
    color: #999;
  }
  .brand-name h1 {
    margin: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
  }
  .brand-name {
    border-bottom: 2px solid white;
  }
  .brand-name h1 span {
    color: rgb(129, 17, 129);
  }
  .btn {
    background: #f05426;
    color: white;
    padding: 5px 10px;
    text-align: center;
  }
  .btn.hover {
    color: #f05426;
    background: white;
    padding: 3px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
  }
  .table {
    padding: 10px;
  }
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  .side-menu {
    position: fixed;
    background: #f05426;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .side-menu .brand-name {
    /* height: 10vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .side-menu li {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
  }
  .side-menu li:hover {
    background: white;
    color: #f05426;
  }
  .container {
    position: absolute;
    right: 0;
    width: 79vw;
    height: 100vh;
  }
  .containers .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 79.7%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-block: 18px;
  }
  .containers .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
  }
  .containers .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: start;
  }
  .containers .header .nav .search input {
    border: 1px solid black;
    border: none;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    width: 50%;
  }
  .containers .header .nav .search button {
    width: 49px;
    height: 47px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
  }
  .containers .header .nav .search button img {
    width: 30px;
    height: 30px;
  }
  .containers .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .containers .header .nav .user img {
    width: 40px;
    height: 40px;
  }
  .containers .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .containers .header .nav .user .img-case img {
    position: absolute;
    top: 5px;
    left: 165px;
    width: 100%;
  }
  .containers .header .nav .user p {
    margin-top: 15px;
    font-weight: 700 !important;
    margin-left: 15px;
  }
  @media screen and (max-width: 1050px) {
    .side-menu li {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 940px) {
    .side-menu li span {
      display: none;
    }
    .side-menu {
      align-items: center;
    }
    .side-menu li img {
      width: 40px;
      height: 40px;
    }
    .side-menu li:hover {
      background: #f05426;
      padding: 8px 38px;
      border: 2px solid white;
    }
  }
  @media screen and (max-width: 536px) {
    brand-name h1 {
      font-size: 16px;
    }
    .container .content .cards {
      justify-content: center;
    }
    .side-menu li img {
      width: 30px;
      height: 30px;
    }
    .containers .content .content-2 .new-students table th:nth-child(2),
    .containers .content .content-2 .new-students table td:nth-child(2) {
      display: none;
    }
  }
  
  .containers .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
  }
  .containers .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .containers .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .containers .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .containers .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
  }
  .containers .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
  }
  .containers .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
  }
  
  .containers .content h1 img {
    width: 40px;
    height: 40px;
  }
  