<div class="categories">
  <div class="wrapper">
    <!-- <h6 class="category-sub-title">Lorem ipsum sit amet.</h6> -->
    <h3 class="category-title">our categories</h3>
    <div class="categories-container">
      <div class="category">
        <img src="../../../../assets/science-fiction.jpg" alt="" />
        <div class="category-body">
          <h4>Science Fiction</h4>
        </div>
      </div>
      <div class="category">
        <img src="../../../../assets/adventure.jpg" alt="" />
        <div class="category-body">
          <h4>Adventure</h4>
        </div>
      </div>
      <div class="category">
        <img src="../../../../assets/fantasy.jpg" alt="" />
        <div class="category-body">
          <h4>Fantasy</h4>
        </div>
      </div>
      <div class="category">
        <img src="../../../../assets/education.avif" alt="" />
        <div class="category-body">
          <h4>Education</h4>
        </div>
      </div>
      <div class="category">
        <img src="../../../../assets/Mystery.jpg" alt="" />
        <div class="category-body">
          <h4>Mystery</h4>
        </div>
      </div>
      <div class="category">
        <img src="../../../../assets/horror.avif" alt="" />
        <div class="category-body">
          <h4>Horror</h4>
        </div>
      </div>
      <div class="category">
        <img src="../../../../assets/horror.avif" alt="" />
        <div class="category-body">
          <h4>Self-help</h4>
        </div>
      </div>
      <!-- <div class="category">
                <img src="../../../../assets/horror.avif" alt="">
                <div class="category-body">
                    <h4>Horror</h4>
                </div>
            </div> -->
    </div>
    <button class="btn-show-all" type="button">show all categories</button>
  </div>
</div>
