<div class="news-letter">
  <h1>Subscribe To Our News Letter</h1>
  <p>Enter your email address to receive regular updates, as well as news on upcoming events and specific offers.</p>
  <form class="subscribe_form">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="Enter your email"
      />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">subscribe</button>
      </span>
    </div>
  </form>
</div>
