.news-letter {
    width: 100%;
    height: 350px;
    background-color: rgb(255, 238, 238);
    text-align: center;
    border-bottom: 2px solid white;
  }
  
  .news-letter h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: indianred;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding-top: 80px;
    font-weight: bolder;
  }
  
  .news-letter p {
    font-size: 14px;
    color: rgb(155, 155, 155);
   margin-block: 30px;
  }
  
  /* // input  */
  
  .subscribe_form {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
    &:focus {
      outline: none;
    }
    .form-control {
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    input {
      height: 44px;
    }
    button {
      border: none;
      height: 44px;
      background-color: indianred;
      color: #fff;
      margin: -1px;
      border-radius: 0;
      width: 135px;
      text-transform: uppercase;
      position: relative;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      &:hover,
      &:focus,
      &:active,
      &:visited {
        color: #fff;
        background-color: indianred;
        outline: none;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        &:before {
          background-color: indianred;
          transition: all ease 0.3s;
          -webkit-transition: all ease 0.3s;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -ms-transition: all ease 0.3s;
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
        background-color: indianred;
        width: 100%;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
    }
    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group {
      z-index: 2;
      margin-left: 0px;
    }
  }
  