<div class="latest-news">
  <h1>Our Latest News</h1>
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/latest news/user3.jpg" alt="" />
        <div class="row first-row">
          <div class="col">
            <div class="row">
              <div class="col-4 text-end user-image p-2">
                <img src="../../../../assets/icons/user.png" alt="" />
              </div>
              <div class="col user-name first-col">
                <h6>John Doe</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-4 text-end user-image p-2">
                <img src="../../../../assets/icons/calendar.png" alt="" />
              </div>
              <div class="col user-name">
                <h6>31/02/2024</h6>
              </div>
            </div>
          </div>
        </div>
        <h4>Books Changes My Ideology</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sunt
          corporis accusantium quos odio obcaecati, veritatis ullam nihil
          necessitatibus odit! Voluptatibus error consectetur libero laboriosam.
          Libero aliquam omnis alias ipsa commodi pariatur aut animi, repellat,
          perspiciatis molestiae veniam optio necessitatibus.
        </p>
        <a routerLink="register" class="shop-now">Read More</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/latest news/user4.jpg" alt="" />
        <div class="row first-row">
          <div class="col">
            <div class="row">
              <div class="col-4 text-end user-image p-2">
                <img src="../../../../assets/icons/user.png" alt="" />
              </div>
              <div class="col user-name first-col">
                <h6>John Doe</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-4 text-end user-image p-2">
                <img src="../../../../assets/icons/calendar.png" alt="" />
              </div>
              <div class="col user-name">
                <h6>31/02/2024</h6>
              </div>
            </div>
          </div>
        </div>
        <h4>Books Changes My Ideology</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sunt
          corporis accusantium quos odio obcaecati, veritatis ullam nihil
          necessitatibus odit! Voluptatibus error consectetur libero laboriosam.
          Libero aliquam omnis alias ipsa commodi pariatur aut animi, repellat,
          perspiciatis molestiae veniam optio necessitatibus.
        </p>
        <a routerLink="register" class="shop-now">Read More</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/latest news/user1.jpg" alt="" />
        <div class="row first-row">
          <div class="col">
            <div class="row">
              <div class="col-4 text-end user-image p-2">
                <img src="../../../../assets/icons/user.png" alt="" />
              </div>
              <div class="col user-name first-col">
                <h6>John Doe</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-4 text-end user-image p-2">
                <img src="../../../../assets/icons/calendar.png" alt="" />
              </div>
              <div class="col user-name">
                <h6>31/02/2024</h6>
              </div>
            </div>
          </div>
        </div>
        <h4>Books Changes My Ideology</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sunt
          corporis accusantium quos odio obcaecati, veritatis ullam nihil
          necessitatibus odit! Voluptatibus error consectetur libero laboriosam.
          Libero aliquam omnis alias ipsa commodi pariatur aut animi, repellat,
          perspiciatis molestiae veniam optio necessitatibus.
        </p>
        <a routerLink="register" class="shop-now">Read More</a>
      </div>
    </div>
  </div>
</div>
